.edgebutton {
	width: 20px;
	height: 20px;
	background: #eee;
	border: 1px solid #fff;
	cursor: pointer;
	border-radius: 50%;
	font-size: 12px;
	line-height: 1;
}

.edgebutton:hover {
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}

.edgebutton-foreignobject body {
	background: transparent;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 40px;
}

.react-flow__node-basic {
	font-size: 12px;
	background: #eee;
	border: 1px solid #555;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
}

.react-flow__node-root {
	font-size: 12px;
	/* background: #eee; */
	/* border: 1px solid #555; */
	border-radius: 5px;
	text-align: center;
	/* padding: 10px; */
}
.react-flow__node-dialogue {
	font-size: 12px;
	/* background: #eee; */
	border: 1px solid #555;
	border-radius: 6px;
	text-align: center;
	padding: 10px;
}

.react-flow__edge-path-selector:hover {
	cursor: pointer;
}
.react-flow__edge-path-selector:hover + .react-flow__edge-path,
.react-flow__edge-path:hover {
	stroke: #555;
	cursor: pointer;
}
.react-flow__edge-path-selector {
	fill: none;
	stroke: transparent;
	stroke-width: 28;
}

.react-flow__node-default,
.react-flow__node-input,
.react-flow__node-output {
	padding: 0px;
	border-radius: 6px;
	font-size: 12px;
	/* color: #222; */
	text-align: center;
	border-width: 1px;
	border-style: solid;
	width: auto;
	min-width: 150px;
	background: none;
}

/* SELECTIONS */
/* especially this and nodesselection-rect */
.react-flow__selection {
	background-color: #eeeeee80;
}
.react-flow__selectionpane {
	background-color: #eeeeee80;
}
.react-flow__nodesselection {
}
.react-flow__nodesselection-rect {
	background-color: #eeeeee80;
}

.ports {
	padding: 0px;
	margin: 0px;
	width: 10px;
	position: absolute;
	top: 6px;
}
.port-name {
	/* position: absolute; */
	/* top: 3px; */
	list-style: none;
	font-size: 10px;
	color: gray;
	height: 18px;
}
